.boxcontainer {
    display: flex;
}

.boxcontainer>div {
    width: 33.3%;
    height: 19vh;
    background-color: aqua;
    margin: 4px
}

#box {
    width: calc(100% - 6px);
    height: 77vh;
    background-color: aqua;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10rem solid transparent;
    border-right: 10rem solid transparent;
    border-bottom: 30rem solid rgb(120, 79, 50);
    position: absolute;
    bottom: 2vh;
    right: 1rem;
    z-index: 1;
}

.boxcontainer2 {
    display: flex;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10rem solid transparent;
    border-right: 10rem solid transparent;
    border-bottom: 25rem solid rgb(136, 149, 42);
    position: absolute;
    bottom: 2vh;
    right: 15rem;
    z-index: 0;
}

.Sun {
    color: rgb(232, 232, 55);
    position: absolute;
    top: 5vh;
    left: 5vw;
    font-size: 15em;
}

.people {
    color: rgb(24, 46, 174);
    position: absolute;
    bottom: 2vh;
    left: 1vw;
    font-size: 7em;
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0;
    z-index: 1;
}

li:nth-child(even) {
    color: salmon;
  }

  .fa-house {
    color: brown;
    position: absolute;
    bottom: 2vh;
    left: 13vw;
    font-size: 20em;
    z-index: 0;
  }

  .white {
    color: white;
    position: absolute;
    top: 2vh;
    left: 35vw;
    font-size: 5em;
  }

  .green {
    color: greenyellow;
    position: absolute;
    top: 37vh;
    left: 25vw;
    font-size: 10em;
  }

  .inputcontainer {
    border: 1px solid black;
    display: inline-block;
    margin: 2vw 2vh;
    padding: 2vw 2vh;
  }
  
  @media(max-width: 480px) {
   .green {
    font-size: 3em;
   }
   .Sun {
    font-size: 5em;
   }
   .white {
    font-size: 2em;
    top: 5vh;
   }
   .fa-house {
    font-size: 6em;
    bottom: -1vh;
   }
   .people {
    font-size: 2em;
    bottom: -2vh;
   }
   .arrow-up {
    width: 0;
    height: 0;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 15rem solid rgb(120, 79, 50);
    position: absolute;
    bottom: -1vh;
    right: 1rem;
    z-index: 1;
   }
   .triangle {
    width: 0;
    height: 0;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 10rem solid rgb(136, 149, 42);
    position: absolute;
    bottom: -1vh;
    right: 9rem;
    z-index: 0;
   }
  }